body {
    background-color: honeydew;
    color: olivedrab;
    font-family: 'Merriweather', serif;
}

section {
    padding: 15px;
    margin: 15px;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: larger;
    font-weight: lighter;
}

#about {
    background-color: white;
    border-radius: 18px;
}

#experience {
    background-color: palegreen;
    border-radius: 18px;
}

#skills {
    background-color: rgb(135, 235, 213);
    border-radius: 18px;
}

#connect {
    background-color: lightseagreen;
    border-radius: 18px;
    color: whitesmoke;
}

#message {
    background-color: azure;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 18px;
    color: mediumaquamarine;
    
}

#messages {
    background-color: powderblue;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 18px;
    width: 250px;
    height: 150px;
    color: teal;
}

#message ul {
    text-align: center;
}

footer {
    background-color: lightsteelblue;
    padding-left: 3px;
    border-radius: 5px;
    
}

@media all and (max-width: 800px) {
    body {
        color:antiquewhite;
        font-size: x-large;
    }
}

label {
    color: slategrey;
    font-size: medium;
}

input{
    margin-bottom: 15px;
}

button {
    background-color: mintcream;
    color: cadetblue;
    border-radius: 5px;
}

button:hover {
    background-color: ghostwhite;
}

/* lesson-4-5 */
.item{
    color:aqua;
    padding: 25px;
    background: white;
    border-radius: 6px;
    margin: 15px;
    width: 6rem;
    height: 1rem;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.connect-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items{
    color: lightgreen;
    padding: 20px;
    background: white;
    border-radius: 6px;
    margin: 5px;
    width: 250px;
    height: 35px;
    text-align: center;
}

#message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 100 auto;
}

#messages{
    display: flex;
    flex-direction: column;
    margin: 100 auto;
    width: 350px;
    height: 150px;
}

ul[role='list_item'] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .navbar {
    flex-direction: column;
    position: relative;
    width: 100%;
    }
    }git s